<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Estrella de Galicia</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cruzcampo</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Coronit</string>
		<key>grade</key>
		<integer>3</integer>
		<key>country</key>
		<string>México</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bud Light</string>
		<key>grade</key>
		<integer>2</integer>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guiness</string>
		<key>grade</key>
		<integer>9</integer>
		<key>country</key>
		<string>Ireland</string>
		<key>color</key>
		<string>black</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paulaner</string>
		<key>grade</key>
		<integer>9</integer>
		<key>country</key>
		<string>Germany</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoegaarden</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Germany</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Estrella Damm</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aguila Amstell</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mahou</string>
		<key>grade</key>
		<integer>5</integer>
		<key>country</key>
		<string>Spain</string>
		<key>color</key>
		<string>yellow</string>
	</dict>
</array>
</plist>
